.oswald{
    font-family:'Oswald', sans-serif
}
.muli{
    font-family:'Muli', sans-serif
}
.montserrat{
    font-family:'Montserrat', sans-serif
}
.fw-300{
    font-weight:300
}
.fw-400,.nameplate .art,.nameplate .art-specs{
    font-weight:400
}
.fw-500{
    font-weight:500
}
.fw-600{
    font-weight:600
}
.fw-700{
    font-weight:700
}
.fw-500i,blockquote.quote .caption{
    font-weight:500;
    font-style:italic
}
.nameplate{
    text-shadow:0 0 3px #000
}
.nameplate .name{
    margin-bottom:0px
}
.nameplate .job{
    font-size:20px
}
.nameplate .art{
    font-size:18px;
    margin-bottom:3px
}
.nameplate .art-specs{
    font-size:14px;
    margin-bottom:24px
}
#see-influences .caption h5{
    font-size:16px;
    line-height:16px
}
#see-influences .caption span{
    font-size:12px
}
.cover h1.large{
    text-shadow:0px 0px 3px #000
}
.ptb48{
    padding:48px 0
}
.align-bottom p.lead{
    width:40%
}
.btn{
    border-radius:5px
}
.inner-page-red{
    background:#000 url("../images/inner-pages-2.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.inner-page-red .col-md-10{
    background:rgba(202,220,238,0.8);
    padding:80px 50px
}
.inner-page-red .inner-box{
    width:75%
}
.video-links{
    position:absolute;
    top:50%;
    right:0;
    z-index:99999
}
.video-links li{
    margin-bottom:20px
}
.video-links a:hover{
    opacity:.8
}
.video-links ul{
    margin-bottom:0
}
.video-links li:last-of-type{
    margin-bottom:0
}
.video-links .next{
    margin-bottom:0px
}
.video-links .next span{
    color:rgba(255,255,255,0.9);
    font-size:11px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:700
}
.video-links.inner-pages{
    position:absolute;
    top:20%;
    right:-100px;
    z-index:99999
}
.video-links.inner-pages li{
    margin-bottom:20px
}
.video-links.inner-pages img{
    max-height:96px
}
#healing-power{
    background:#fff url("../images/vr-dream/bg-TED-videos-2.svg") top center no-repeat
}
#healing-power .title{
    font-size:18px;
    margin-top:16px;
    margin-bottom:0px;
    font-weight:400
}
#healing-power .author{
    color:#353535;
    font-size:20px;
    font-weight:600;
    letter-spacing:normal;
    line-height:1.25;
    padding-bottom:0
}
.image-bg.ptn span{
    color:#353535
}
.text-link{
    text-decoration:underline;
    font-weight:400
}
.text-link:hover{
    text-decoration:underline;
    color:rgba(0,0,0,0.4) !important
}
.lb-data .lb-caption{
    font-size:15px;
    font-weight:700;
    line-height:1.8
}
.foundry_modal{
    width:75%;
    max-width:60%;
    overflow:hidden
}
.foundry_modal iframe{
    min-height:550px
}
.pad32{
    padding:32px
}
#quotes h3{
    text-shadow:0px -1px 2px rgba(0,0,0,0.5)
}
#about-artist .feature{
    border:none
}
#artist-quotes h3{
    font-weight:300;
    text-transform:none;
    letter-spacing:normal;
    line-height:1.45;
    text-shadow:1px 1px 1px #000;
    margin-bottom:0
}
.pbreak{
    width:380px
}
.smallbar{
    width:40px;
    height:3px;
    background:#fff;
    margin:20px 0
}
.btn-filled.bg-dark{
    background:#000;
    color:#fff;
    transition:all .3s ease;
    -webkit-transition:all .15s ease
}
.btn-filled.bg-dark:hover{
    background:#292929;
    color:#fff
}
.btn-donate img{
    margin-bottom:2px;
    height:20px;
    padding-right:15px
}
.list-organization li{
    margin-bottom:15px
}
.list-organization li img{
    width:100%
}
.list-organization li:last-child{
    margin-bottom:0
}
.btn-stroke{
    background:transparent;
    border:2px solid #296eb3;
    border-radius:5px;
    font-family:'Oswald', sans-serif;
    font-size:32px;
    font-weight:400;
    min-width:auto;
    color:#296eb3
}
.btn-stroke sup{
    font-weight:300;
    margin-right:2px
}
.btn-stroke:hover{
    background:#296eb3;
    border-color:#296eb3 !important
}
.donate-amounts .btn-stroke{
    font-weight:500;
    line-height:30px;
    border-radius:25px;
    font-size:24px
}
.btn-donatebox{
    padding:8px 10px;
    margin-bottom:0;
    min-width:75px
}
.bg-crest{
    background-image:linear-gradient(60deg, #29323c 0%, #485563 100%)
}
.form-subscribe input{
    padding:0 60px 0 20px;
    border-radius:25px;
    background:#7f98b1;
    border:1px solid #7f98b1
}
.form-subscribe input:focus{
    outline:none
}
.form-subscribe.halves input{
    width:100%;
    margin-left:0;
    margin-bottom:16px
}
.form-subscribe.halves input:hover{
    background:#7f98b1
}
.form-subscribe.halves button{
    border:none;
    margin-left:-55px;
    width:10%;
    background:none
}
.footer-2.bg-dark a{
    color:rgba(0,0,0,0.7)
}
blockquote.quote{
    overflow:hidden;
    font-family:'Roboto', sans-serif;
    padding:25px 0 0 30px;
    color:#353535;
    font-weight:300;
    border-left:none;
    margin:0;
    background:url("../images/quote-grey.svg") top left no-repeat
}
blockquote.quote .caption{
    margin-top:32px;
    font-size:18px
}
.bg-secondary blockquote{
    background:#fff;
    border-color:#A52F29
}
blockquote .author{
    font-size:12px;
    display:block;
    float:right;
    margin-top:16px
}
[class*="filter"]{
    position:relative
}
[class*="filter"]::before{
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:1
}
.filter-inkwell{
    -webkit-filter:brightness(1.25) contrast(0.85) grayscale(1);
    filter:brightness(1.25) contrast(0.85) grayscale(1)
}
.inner-title:hover img.filter-inkwell,.image-caption:hover img.filter-inkwell{
    filter:none !important;
    -webkit-filter:none !important;
    -webkit-transition:-webkit-filter 500ms linear;
    transition:-webkit-filter 500ms linear
}
.scroller{
    bottom:15px;
    text-align:center
}
.scroller a{
    font-family:'Oswald', sans-serif;
    font-size:24px;
    font-weight:300;
    opacity:.65;
    color:#fff;
    margin-bottom:0
}
.scroller a:after{
    content:url("../images/icon-mouse.svg");
    vertical-align:-15%;
    margin-left:12px
}
.scroller a:hover{
    opacity:1;
    color:#fff
}
.scroller-dark{
    bottom:15px;
    text-align:center
}
.scroller-dark a{
    font-family:'Oswald', sans-serif;
    font-size:24px;
    font-weight:300;
    opacity:.65;
    color:#000;
    margin-bottom:0
}
.scroller-dark a:after{
    content:url("../images/icon-mouse-dark.svg");
    vertical-align:-15%;
    margin-left:12px
}
.scroller-dark a:hover{
    opacity:1;
    color:#000
}
@-webkit-keyframes hvr-hang{
    0%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
    50%{
        -webkit-transform:translateY(4px);
        transform:translateY(4px)
    }
    100%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
}
@keyframes hvr-hang{
    0%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
    50%{
        -webkit-transform:translateY(4px);
        transform:translateY(4px)
    }
    100%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
}
@-webkit-keyframes hvr-hang-sink{
    100%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
}
@keyframes hvr-hang-sink{
    100%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
}
.hvr-hang,.scroller a:after,.scroller-dark a:after{
    display:inline-block;
    vertical-align:-5%;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-animation-name:hvr-hang-sink, hvr-hang;
    animation-name:hvr-hang-sink, hvr-hang;
    -webkit-animation-duration:.3s, 1.5s;
    animation-duration:.3s, 1.5s;
    -webkit-animation-delay:0s, .3s;
    animation-delay:0s, .3s;
    -webkit-animation-timing-function:ease-out, ease-in-out;
    animation-timing-function:ease-out, ease-in-out;
    -webkit-animation-iteration-count:1, infinite;
    animation-iteration-count:1, infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-direction:normal, alternate;
    animation-direction:normal, alternate
}
.image-slider .scroller { position: relative; }
.image-slider .scroller img,
.jp-missionum-wrap .scroller img,
.scroller img {    
	width: 40px;
	height: 25px;
	margin: 7px 0 0 0;
	animation-name: hvr-hang-sink, hvr-hang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin-left: -20px;
}
.image-slider .scroller:after,
.jp-missionum-wrap .scroller:after,
.scroller a:after, .scroller-dark a:after  {
	display: none;
}



.jp-missionum-wrap .align-bottom.scroller {
    bottom: 10px !important;
}
.jp-missionum-wrap .scroller img { left: 47%; }
#instagram .feature-3 .left{
    width:30%;
    padding-right:20px
}
#instagram .feature-3 .right{
    width:70%
}
#instagram h4{
    font-family:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:200;
    font-size:28px
}
#instagram p,#instagram a{
    font-family:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif
}
.thumb{
    width:100%;
    height:250px
}
.thumb a{
    display:block;
    width:100%;
    height:250px
}
.thumb a:hover{
    background:rgba(0,0,0,0.5)
}
.thumb.one{
    background:url("../images/ig1.jpg") 50% 50% no-repeat;
    background-size:cover
}
.thumb.two{
    background:url("../images/ig2.jpg") 50% 50% no-repeat;
    background-size:cover
}
.thumb.three{
    background:url("../images/ig3.jpg") 50% 50% no-repeat;
    background-size:cover
}
.thumb.four{
    background:url("../images/ig4.jpg") 50% 50% no-repeat;
    background-size:cover
}
.btn-instagram{
    font-size:15px;
    font-weight:600;
    min-width:auto;
    height:35px;
    line-height:35px;
    background:#3897f0 !important;
    color:#fff;
    text-transform:capitalize;
    letter-spacing:normal;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}
.btn-instagram:focus,.btn-instagram:hover{
    background:#3897f0;
    color:#fff
}
.btn-instagram:visited{
    color:#fff
}
#instafeed{
    max-width:1080px;
    width:100%;
    margin:auto;
    display:flex;
    flex-wrap:wrap
}
#instafeed a{
    display:flex;
    align-items:center;
    position:relative;
    width:50%;
    background:#f8f8f8;
    padding:0 5px
}
@media only screen and (min-width: 580px){
    #instafeed a{
        width:25%
    }
}
#instafeed a img{
    display:block;
    width:100%
}
#see-artworks.image-square{
    height:56vw;
    padding-bottom:0;
    max-height:100%
}
#see-artworks.image-square .image{
    height:100%;
    margin-bottom:0px;
    max-height:100%
}
#see-artworks.image-square blockquote{
    width:80%
}
.nameplate.sponsor h2{
    letter-spacing:-2px;
    font-size:64px;
    line-height:1.25;
    font-weight:300
}
.nameplate.sponsor .name{
    margin-bottom:32px
}
.nameplate.sponsor .art{
    font-size:20px;
    margin-bottom:8px
}
.nameplate.sponsor .art-specs{
    font-size:16px;
    margin-bottom:0
}
#sponsors .adidas{
    max-height:60px
}
#sponsors .UN{
    margin-left:16px;
    max-height:40px
}
.sponsor-flag{
    position:absolute;
    top:0;
    right:100px;
    z-index:99
}
@media all and (max-width: 767px){
    #healing-power{
        background:#fff url("../images/vr-dream/bg-TED-videos-2.svg") top center no-repeat
    }
    #healing-power .title{
        font-size:16px;
        margin-top:8px;
        margin-bottom:0px;
        font-weight:400
    }
    #healing-power .author{
        color:#337ab7;
        font-size:16px;
        font-weight:600;
        letter-spacing:normal;
        line-height:1.25;
        padding-bottom:0
    }
    .sponsor-flag{
        position:absolute;
        top:0;
        right:10px;
        z-index:99
    }
    #sponsors{
        text-align:center
    }
    .nameplate.sponsor h2{
        letter-spacing:normal;
        font-size:32px
    }
    .nameplate.sponsor .name{
        margin-bottom:32px
    }
    .nameplate.sponsor .art{
        font-size:20px;
        margin-bottom:8px
    }
    .nameplate.sponsor .art-specs{
        font-size:16px;
        margin-bottom:32px
    }
    #sponsors .adidas{
        max-height:50px
    }
    #sponsors .UN{
        margin-left:16px;
        max-height:35px
    }
    .foundry_modal{
        width:95%;
        max-width:90%
    }
    .foundry_modal iframe{
        min-height:auto
    }
    #instagram .feature-3 .left{
        width:30%;
        padding-right:10px
    }
    #instagram .feature-3 .right{
        width:70%
    }
    #instagram h4{
        font-weight:200;
        font-size:18px
    }
    #instagram p{
        font-size:14px
    }
    .align-bottom.scroller{
        bottom:-20px !important
    }
    .logo{
        max-height:32px
    }
    .module.widget-handle{
        border-top:none
    }
    nav.fixed.scrolled{
        position:fixed !important
    }
    .mobile-toggle{
        border-left:none
    }
    #vid-id .background-image-holder{
        background-position:center center !important
    }
    .nameplate{
        text-shadow:0px 0px 3px #000
    }
    .nameplate .name{
        font-size:22px;
        margin-bottom:0;
        font-weight:700
    }
    .nameplate .job{
        font-size:14px;
        margin-bottom:16px
    }
    .nameplate .art{
        font-size:15px;
        margin-bottom:0
    }
    .nameplate .art-specs{
        font-size:13px;
        margin-bottom:16px;
        font-weight:400
    }
    .align-bottom{
        bottom:-110px !important
    }
    .align-bottom .btn{
        height:45px;
        line-height:44px;
        text-transform:capitalize;
        letter-spacing:normal;
        font-weight:400
    }
    #deerupt.image-square{
        height:200vw;
        text-align:center
    }
    #deerupt.image-square .btn{
        margin-bottom:56px
    }
    .list-organization li{
        display:inline
    }
    .btn-donatebox{
        margin-bottom:16px
    }
    .pbreak{
        width:auto
    }
    .bio-bg img{
        width:200px
    }
    .bio-bg .scroller img {
        width:initial;
    }
    .video-links{
        top:30%;
        z-index:3
    }
    .video-links img{
        max-height:60px
    }
    .align-bottom{
        position:relative
    }
    .align-bottom p.lead{
        width:100%
    }
    .cover .btn{
        margin-bottom:0
    }
    blockquote{
        font-size:18px;
        line-height:1.5;
        padding:5px 20px;
        color:#fff;
        font-weight:400;
        border-left:2px solid #FF3B30;
        margin:30px 0px 30px 25px
    }
    .image-square.image-masonrytiles{
        height:218vw;
        max-height:100% !important
    }
    .image-square{
        height:295vw;
        max-height:100% !important
    }
    blockquote.quote{
        background-position:top center;
        text-align:center;
        padding:25px 20px 0 20px;
        font-size:15px;
        margin-bottom:24px
    }
    blockquote.quote .caption{
        margin-top:12px;
        font-size:14px
    }
    #join-the-movement.image-square{
        padding-bottom:0;
        margin-bottom:0;
        height:100%
    }
    #join-the-movement.image-square .image{
        max-height:100%;
        margin-bottom:0
    }
    #sub-page .background-image-holder{
        background:url("../images/inner-pages-2.jpg") bottom center no-repeat !important
    }
    #see-artworks .inner-title .title h5{
        font-size:16px;
        margin-bottom:0
    }
    #see-artworks blockquote{
        width:100%
    }
    #see-artworks.image-square.image-masonrytiles{
        height:100%
    }
    #see-artworks.image-square blockquote{
        width:100%
    }
    .inner-page-red{
        background:#000 url("../images/inner-pages-2.jpg") no-repeat top center fixed;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover
    }
    .inner-page-red .col-xs-12{
        background:rgba(202,220,238,0.8);
        padding:40px 25px;
        color:#fff
    }
    .inner-page-red .inner-box{
        width:100%
    }
}
@media all and (max-width: 990px){
    #see-artworks.image-square{
        padding-bottom:0
    }
    #see-artworks.image-square .image{
        height:100%;
        margin-bottom:0px;
        max-height:100%
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .thumb{
        width:450px;
        height:450px;
        margin:32px auto
    }
    .thumb a{
        display:block;
        width:100%;
        height:250px
    }
    .thumb a:hover{
        background:rgba(0,0,0,0.5)
    }
    #instagram .feature-3{
        margin-top:32px
    }
    #instagram .feature-3 .left{
        width:20%;
        padding-right:20px
    }
    #instagram .feature-3 .right{
        width:80%
    }
    #instagram h4{
        font-family:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight:200;
        font-size:28px
    }
    #instagram p,#instagram a{
        font-family:'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif
    }
    #see-artworks.image-square{
        padding-bottom:0;
        height:100%;
        margin-bottom:0px;
        max-height:100%
    }
    #see-artworks.image-square blockquote{
        width:100%
    }
}
@media (min-width: 1200px){
    #see-artworks.image-square{
        padding-bottom:0;
        max-height:100%
    }
    #see-artworks.image-square .image{
        height:100%;
        margin-bottom:0px;
        max-height:100%
    }
}

@media (min-width: 992px) {
	.cover .align-bottom {
		position: absolute;
		bottom: 50px;
	}
}


@media (max-width: 767px) {
	#about-the-artist .align-bottom,
	#see-inspirations .align-bottom {
	    bottom: -20px!important;
	    margin-bottom: 30px;
	}
}