/*------------------------------------------------------------------
	Project: 		JP
	Last Change:	4.10.19
	Develop By:		Raul Sevilles
	[Table of Contents]
	1.	Fonts
	2.	Global
	3.	Header
	4.	Banenr
	5.	Content
	6.	Footer
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	[ 1 Fonts ]
-------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*------------------------------------------------------------------
	[ 2 Global ]
-------------------------------------------------------------------*/
* { outline: none; }
html {
/*	overflow-y: scroll;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
/*body {
	background: #fff;
	color: #a5a5a8;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: normal;
	margin: 0;
}
p, label, h1, h2, h3, h4, h5,h6 {
	font-weight: normal;
	line-height: normal;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #434343;
	font-family: 'Open Sans', sans-serif;
}
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p {
	line-height: 26px;
	margin: 0;
	padding-bottom: 20px;
}
a {
	color: #2f83eb;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
a:focus,
a:hover {
	text-decoration: none;
	outline: none;
}
input, 
button, 
textarea, 
select {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
/*	outline: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
}
pre,
tt,
code,
kbd,
samp,
var {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ol {
	font-family: Arial;
	line-height: 24px;
	margin: 0 0 20px 0;
	padding: 0;
}
ol ol {
	margin: 10px 0 0 0;
	padding: 0 0 0 25px;
}
ol li { margin: 0 0 5px 0; }
ol, ul { list-style-position: inside; }
ol > li { list-style-position: inside; }
ol ol li { list-style-type: lower-alpha; }
ol ol ol li { list-style-type: lower-roman; }
q { font-style: italic; }
abbr,
acronym {
	border-bottom: 1px dotted #333;
	cursor: help;
}
textarea {
	resize:none;
	overflow-y:auto;
}*/
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after { clear: both; }
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix { *zoom: 1; }

/*Container Width*/
/*.container { 
	margin: 0px auto;
	max-width: 960px; 
}*/

/*------------------------------------------------------------------
	[ 3 Header ]
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
	[ 4 Banner ]
-------------------------------------------------------------------*/




/*------------------------------------------------------------------
	[ 5 Content ]
-------------------------------------------------------------------*/
.jp-story-wrap {
	background: #ececec;
	color: #353535;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.jp-story-wrap .heading-story {
	padding: 18px 0 18px 150px;
	background: url(../images/jp-avatar.png) no-repeat left center;
	margin-bottom: 25px;
}
.jp-story-wrap .heading-story h4 {
	font-size: 28px;
	font-weight: 700;
	line-height: 37px;
	margin: 0;
}
.jp-story-wrap p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;	
}

/*Product*/
.products-available-wrap {
	background: #fff;
	padding:30px 0 0;
}
.prod-text { margin-bottom: 35px; }
.product-item { 
	text-align: center; 	
	margin-bottom: 30px; 
	height: auto;
}

.product-img { 
	display: inline-block;
	overflow: hidden;
	text-align: center;
}

/*About Project*/
.about-project-wrap {
	background: url(../images/about-project-img.png) no-repeat center center;
	background-size: cover;
	min-height: 780px;
}
.about-project-wrap h1 { 
	color: #fff; 
	text-align: center;
}

.blockquote-wrap {
	background: url(../images/quote-left.png) no-repeat top left;
	padding-left: 10px;
	padding-top: 15px;
}
.blockquote-wrap blockquote {
	background: url(../images/quote-right.png) no-repeat bottom right;
	border:0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin:0;
	padding-bottom: 30px;
	padding-right: 15px;
	text-align: center;
}
.ig-post-wrap {
    max-width: 360px;
    display: inline-block;
}
.ig-heading {
	-webkit-border-radius: 8px 8px 0 0;
	background: #fff;
	border-radius: 8px 8px 0 0;
	display: flex;
	height: 65px;
	padding:5px 15px 5px 10px;
}
.ig-left-info {
	position: relative;
	padding-left: 60px;
	text-align: left;
}
.ig-left-info .ig-avatar {
	position: absolute;
	width: 46px;
	height: 46px;
	left:0;
	top: 5px;
}
.ig-left-info label { 
	display: block; 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin:0;
	padding-top: 5px;
}
.ig-left-info span {	
  color: #7c7c7c;
  font-family: Roboto;
  font-size: 14px;
}
.ig-right-info { 
	margin-left: auto; 
	padding-top: 8px;
}
.ig-right-info a {
	height: 38px;
	line-height: 38px;
	width: 85px;
	background: #3897f0;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
}

.about-project-wrap .scroller {  bottom: 35px; }

/*Join Movement*/
.join-movement-wrap {
	background: #fff;
	padding: 50px 0 0;
	position: relative;
}

.join-movement-wrap h1 { margin-bottom: 40px; }

.pollution-box {
	border-radius: 8px;
	margin-bottom: 20px;
	min-height: 180px;
	padding: 20px;
	width: 100%;
}
.pollution-box h3 {
	text-align: left;
	color: #fff;
	margin-bottom: 20px;
	font-size: 24px;
}
.pollution-box ul {
	list-style-type: disc;
	margin-bottom: 0;
	padding-left: 20px;
}
.pollution-box ul li {
	text-align: left;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}
.pollution-world {
	background: url(../images/pollusion-bg-1.png) no-repeat center center;
	background-size: cover;
}
.pollution-lebanon {
	background: url(../images/pollusion-bg-2.png) no-repeat center center;
	background-size: cover;
}

.pollution-bot-desc  {
	padding-top: 20px;
}

/*Donate*/
.donate-wrap { 
	padding: 40px 0 20px; 
	text-align: center;
	background:#000;
}
.donate-wrap h3 { 
	color: #fff; 
	margin-bottom: 35px;
}
.donate-amounts .btn-stroke {
	color: #495f75;
	background: #cadcee;
	border-color: #ffffff;
	padding: 11px 20px;
	min-width: initial;
	height: 50px;
	line-height: 30px;
	font-size: 20px;
}
.btn-stroke sup {
    font-size: 18px;    
    top: -.5em;
}

/*------------------------------------------------------------------
	[ 6 Footer ]
-------------------------------------------------------------------*/

/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.join-movement-wrap {
	background: #000 url(../images/join-movement.png) no-repeat top center;
	min-height: 775px;
	position: relative;
	padding-bottom: 440px;
}

.donate-wrap {
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
}
.donate-amounts .btn-stroke {
	height: 60px;
	line-height: 33px;
	font-size: 24px;
}
.btn-stroke sup {    
    top: -.7em;
}


}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*Product*/
.product-img {display: block;}
.product-img.h185 { 
	height: 154px; 
	overflow: hidden;
	display: block;
}

.prod-text-wrap { 
	height: 290px;
    overflow: hidden;
    margin-bottom: 30px; 
}
.prod-text { 
	height: 130px; 
	padding-top: 15px;

}
.prod-text h3 { 
	margin:0; 
	font-size: 30px;
	text-align: center;
}


/*Donate*/
.donate-amounts .btn-stroke { font-size: 32px; }


}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

/*Product*/
.product-img.h185 { 
	height: 185px; 
	overflow: hidden;
}
.prod-text { 
	height: 145px; 
	padding-top: 20px;
}
.prod-text h3 {
    font-size: 38px;
}
.prod-text-wrap { height: 355px; }

/*join movement*/
.join-movement-wrap { padding-bottom: 480px; }
.pollution-box h3 { font-size: 36px }
.pollution-bot-desc { padding-top: 40px; }


}